extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};
		headerClass =  'site-header--dark' ;
		shLogo='img/logo-dark-text.svg';




block main
	.header-ph


	section.section-archive
		.container
			.archive-page-top
				h1.archive-title Статьи
				.archive-categories
					.mslider-filters-mob-wrap
						.mslider-filter-mob-current.js-mslider-filter-mob-current Все
						.mslider-filters
							.mslider-filter.archive-cat-item.mslider-filter--active(data-mslider-projects-filter="all") Все
							.mslider-filter.archive-cat-item(data-mslider-projects-filter="mslider-project-cat1") Фэшн - ритеил
							.mslider-filter.archive-cat-item(data-mslider-projects-filter="mslider-project-cat2") DIY
							.mslider-filter.archive-cat-item(data-mslider-projects-filter="mslider-project-cat3") Фуд - ритеил

			.articles-wrap
				.article-card.article-card-archive
					.article-card__img
						img(src="images/article-card.jpg", alt="")
					.article-card__block
						h3.article-card__title СМИ Заголовок
						.article-card__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это косм...
						.article-card__btn-wrap
							a.article-card__btn.btn.btn--white.btn--h40.btn--w200(href="/db21nlt/build/blog-single.html") Читать
				.article-card.article-card-archive
					.article-card__img
						img(src="images/article-card.jpg", alt="")
					.article-card__block
						h3.article-card__title СМИ Заголовок
						.article-card__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это косм...
						.article-card__btn-wrap
							a.article-card__btn.btn.btn--white.btn--h40.btn--w200(href="/db21nlt/build/blog-single.html") Читать
				.article-card.article-card-archive
					.article-card__img
						img(src="images/article-card.jpg", alt="")
					.article-card__block
						h3.article-card__title СМИ Заголовок
						.article-card__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это косм...
						.article-card__btn-wrap
							a.article-card__btn.btn.btn--white.btn--h40.btn--w200(href="/db21nlt/build/blog-single.html") Читать
				.article-card.article-card-archive
					.article-card__img
						img(src="images/article-card.jpg", alt="")
					.article-card__block
						h3.article-card__title СМИ Заголовок
						.article-card__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это косм...
						.article-card__btn-wrap
							a.article-card__btn.btn.btn--white.btn--h40.btn--w200(href="/db21nlt/build/blog-single.html") Читать
				.article-card.article-card-archive
					.article-card__img
						img(src="images/article-card.jpg", alt="")
					.article-card__block
						h3.article-card__title СМИ Заголовок
						.article-card__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это косм...
						.article-card__btn-wrap
							a.article-card__btn.btn.btn--white.btn--h40.btn--w200(href="/db21nlt/build/blog-single.html") Читать
				.article-card.article-card-archive
					.article-card__img
						img(src="images/article-card.jpg", alt="")
					.article-card__block
						h3.article-card__title СМИ Заголовок
						.article-card__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это косм...
						.article-card__btn-wrap
							a.article-card__btn.btn.btn--white.btn--h40.btn--w200(href="/db21nlt/build/blog-single.html") Читать
				.article-card.article-card-archive
					.article-card__img
						img(src="images/article-card.jpg", alt="")
					.article-card__block
						h3.article-card__title СМИ Заголовок
						.article-card__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это косм...
						.article-card__btn-wrap
							a.article-card__btn.btn.btn--white.btn--h40.btn--w200(href="/db21nlt/build/blog-single.html") Читать
				.article-card.article-card-archive
					.article-card__img
						img(src="images/article-card.jpg", alt="")
					.article-card__block
						h3.article-card__title СМИ Заголовок
						.article-card__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это косм...
						.article-card__btn-wrap
							a.article-card__btn.btn.btn--white.btn--h40.btn--w200(href="/db21nlt/build/blog-single.html") Читать


	section.section-get-book
		.container.container--1228.container-get-book
			.get-book
				h2.h2-get-book Хотите чтобы свет в магазине приносил больше прибыли?  <br>  Получите книгу бесплатно
				.btn.btn--orange.btn--get-book(data-hystmodal="#modalGetBook") Получить книгу