extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};
		headerClass =  'site-header--dark' ;
		shLogo='img/logo-dark-text.svg';




block main
	.header-ph


	section.section-archive
		.container
			.archive-page-top
				h1.archive-title Проекты
				.archive-categories
					.mslider-filters-mob-wrap
						.mslider-filter-mob-current.js-mslider-filter-mob-current Все
						.mslider-filters
							.mslider-filter.archive-cat-item.mslider-filter--active(data-mslider-projects-filter="all") Все
							.mslider-filter.archive-cat-item(data-mslider-projects-filter="mslider-project-cat1") Фэшн - ритеил
							.mslider-filter.archive-cat-item(data-mslider-projects-filter="mslider-project-cat2") DIY
							.mslider-filter.archive-cat-item(data-mslider-projects-filter="mslider-project-cat3") Фуд - ритеил

			.projects-wrap
				a.blog-item.archive-project-card(href="/db21nlt/build/project-single.html")
					.blog-item__pic
						img(src="images/blog1.jpg", alt="")
					.archive-project-cart__info
						h3.blog-item__title Проект
						.blog-item__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это космос; собрание новейших со всего...
						.blog-item__btn.btn.btn--white.btn--h40.btn--w200 Смотреть
				a.blog-item.archive-project-card(href="/db21nlt/build/project-single.html")
					.blog-item__pic
						img(src="images/blog1.jpg", alt="")
					.archive-project-cart__info
						h3.blog-item__title Проект
						.blog-item__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это космос; собрание новейших со всего...
						.blog-item__btn.btn.btn--white.btn--h40.btn--w200 Смотреть
				a.blog-item.archive-project-card(href="/db21nlt/build/project-single.html")
					.blog-item__pic
						img(src="images/blog1.jpg", alt="")
					.archive-project-cart__info
						h3.blog-item__title Проект
						.blog-item__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это космос; собрание новейших со всего...
						.blog-item__btn.btn.btn--white.btn--h40.btn--w200 Смотреть


				a.blog-item.archive-project-card(href="/db21nlt/build/project-single.html")
					.blog-item__pic
						img(src="images/blog1.jpg", alt="")
					.archive-project-cart__info
						h3.blog-item__title Проект
						.blog-item__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это космос; собрание новейших со всего...
						.blog-item__btn.btn.btn--white.btn--h40.btn--w200 Смотреть
				a.blog-item.archive-project-card(href="/db21nlt/build/project-single.html")
					.blog-item__pic
						img(src="images/blog1.jpg", alt="")
					.archive-project-cart__info
						h3.blog-item__title Проект
						.blog-item__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это космос; собрание новейших со всего...
						.blog-item__btn.btn.btn--white.btn--h40.btn--w200 Смотреть
				a.blog-item.archive-project-card(href="/db21nlt/build/project-single.html")
					.blog-item__pic
						img(src="images/blog1.jpg", alt="")
					.archive-project-cart__info
						h3.blog-item__title Проект
						.blog-item__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это космос; собрание новейших со всего...
						.blog-item__btn.btn.btn--white.btn--h40.btn--w200 Смотреть


				a.blog-item.archive-project-card(href="/db21nlt/build/project-single.html")
					.blog-item__pic
						img(src="images/blog1.jpg", alt="")
					.archive-project-cart__info
						h3.blog-item__title Проект
						.blog-item__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это космос; собрание новейших со всего...
						.blog-item__btn.btn.btn--white.btn--h40.btn--w200 Смотреть
				a.blog-item.archive-project-card(href="/db21nlt/build/project-single.html")
					.blog-item__pic
						img(src="images/blog1.jpg", alt="")
					.archive-project-cart__info
						h3.blog-item__title Проект
						.blog-item__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это космос; собрание новейших со всего...
						.blog-item__btn.btn.btn--white.btn--h40.btn--w200 Смотреть
				a.blog-item.archive-project-card(href="/db21nlt/build/project-single.html")
					.blog-item__pic
						img(src="images/blog1.jpg", alt="")
					.archive-project-cart__info
						h3.blog-item__title Проект
						.blog-item__excerpt Побывав на выставке Euroshop 2020 в Дюссельдорфе я с нетерпением жду следующую, которая состоится в 2023 году. Если коротко - это космос; собрание новейших со всего...
						.blog-item__btn.btn.btn--white.btn--h40.btn--w200 Смотреть



	section.section-get-book
		.container.container--1228.container-get-book
			.get-book
				h2.h2-get-book Хотите чтобы свет в магазине приносил больше прибыли?  <br>  Получите книгу бесплатно
				.btn.btn--orange.btn--get-book(data-hystmodal="#modalGetBook") Получить книгу