footer.site-footer
	.container.foo-container
		a.foo-logo(href="/")
			img(src="img/logo-dark-text.svg", alt="")

		.foo-center
			ul.foo-menu
				li.foo-menu-item
					a(href="") ПРОЕКТЫ
				li.foo-menu-item
					a(href="") ОБО МНЕ
				li.foo-menu-item
					a(href="") СТАТЬИ
				li.foo-menu-item
					a(href="") КОНТАКТЫ
			.foo-about-me Меня зовут Михаил Гусманов.  <br>  Я 15 лет превращаю свет в&nbsp;помощника бизнесу


		.foo-right
			.foo-socials
				a.foo-socials-item(href="")
					img.foo-socials-item__img(src="img/facebook.svg", alt="")
				a.foo-socials-item(href="")
					img.foo-socials-item__img(src="img/instagram.svg", alt="")
			.foo-contacts
				a.foo-contact-item(href="tel:") +7 999 999 99 99
				a.foo-contact-item(href="") xxxxxxxxx@mail.com