header.site-header(class=''+headerClass)
	.container.sh-container
		.sh-logo-wrap
			img.sh-logo(src=""+shLogo, alt="")
		.sh-menu-wrap
			ul.sh-menu
				li.sh-menu__item
					a.sh-menu__a(href="") ГЛАВНАЯ
				li.sh-menu__item
					a.sh-menu__a(href="") ПРОЕКТЫ
				li.sh-menu__item
					a.sh-menu__a(href="") ОБО МНЕ
				li.sh-menu__item
					a.sh-menu__a(href="") CТАТЬИ
				li.sh-menu__item
					a.sh-menu__a(href="") КОНТАКТЫ
		.lang-switcher
			.lang-switcher__current
				span RUS
				|  <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 5"><path d="M6 5L11.1962.5H.803848L6 5z" fill="#ffffff"/></svg>
			.lang-switcher-items
				a.lang-switcher__item(href="") ENG
				a.lang-switcher__item(href="") ESP

