#modalGetBook.hystmodal(aria-hidden='true')
	.hystmodal__wrap
		.hystmodal__window.modal-book-wrap(role='dialog' aria-modal='true')
			.hystmodal__close-custom(data-hystclose='')
				|  <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"> <path d="M27.0713 12.929L12.9292 27.0711M27.0713 27.0711L12.9292 12.929" stroke="#F6A30B" stroke-width="2"/> </svg>
			.modal-book
				.modal-book-completed
					.modal-title Отправлено!
					.modal-completed-text Выбранная книга отправлена на указанную Вами электронную почту
				.modal-book-inner
					.modal-title Книга на какую тему Вам наиболее интересна?
					.modal-inputs
						.modal-inputs__row
							.custom-checkbox
								label
									input(type="checkbox", name="" checked)
									span Фэшн - ритеил
						.modal-inputs__row
							.custom-checkbox
								label
									input(type="checkbox", name="" checked)
									span Фуд - ритеил
						.modal-inputs__row
							input.cinp.cinp--light(type="text", name="" placeholder="Электронная почта")
						.modal-inputs__row
							button.btn.btn--orange.js-modal-send-btn(type="submit") Получить книгу