.sh-burger {
	position: relative;
	display: none;
	width: 34px;
	height: 26px;
	cursor: pointer;
	transition-duration: .2s;

	span,
	span::before,
	span::after {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 34px;
		height: 2px;
		margin-top: -1px;
		margin-left: -17px;
		background-color: #fff;
	}

	span::before,
	span::after {
		content: '';
		transition: 0.2s;
	}

	span::before {
		transform: translateY(-12px);
	}

	span::after {
		transform: translateY(12px);
	}

	&--active {
		background: #F5F6FB;

		span {
			height: 0;

			&::before {
				transform: rotate(45deg);
				background: #323340;
			}

			&::after {
				transform: rotate(-45deg);
				background: #323340;
			}
		}
	}
}


.site-header {
	position: absolute;
	z-index: 5;
	width: 100%;
	left: 0;
	top: 0;

	background: linear-gradient(180deg, rgba(43, 42, 41, 0.5) 0%, rgba(43, 42, 41, 0) 100%);
}

.sh-container {
	height: 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sh-logo-wrap {
	width: 154px;
	position: relative;
}

.sh-logo {
	display: block;
	height: auto;
	width: 100%;
	max-width: 100%;
}

.sh-menu-wrap {}

.sh-menu {
	list-style: none;
	display: flex;
	align-items: center;

	&__item {
		margin: 0 24px;
		list-style: none;
	}

}

.sh-menu__a {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	transition-duration: .2s;

	&:hover {
		color: #F6A30B;
	}

	&:active {}

	&:focus {}
}

.lang-switcher {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	transition-duration: .2s;
	position: relative;

	&__current {
		display: flex;
		align-items: center;
		cursor: pointer;

		svg {
			display: block;
			width: 12px;
			height: 6px;
			margin-left: 4px;
			transition-duration: .2s;

			path {

				transition-duration: .2s;
			}
		}

		span {

			transition-duration: .2s;
		}

		&:hover {
			span {
				color: #F6A30B;
			}

			svg {
				path {
					fill: #F6A30B;
				}
			}

		}

	}

	&--opened {
		.lang-switcher__current {
			svg {
				transform: rotate(-180deg);

			}

			span {}

		}
		.lang-switcher-items{
			opacity: 1;
			pointer-events: all;
		}
	}

}

.lang-switcher-items {
	position: absolute;
	left: 0;
	top: 100%;
	display: block;
	margin-top: 10px;
	opacity: 0;
	pointer-events: none;
	transition-duration: .3s;
}

.lang-switcher__item {

	display: block;
	color: #FFFFFF;
	transition-duration: .2s;

	&+.lang-switcher__item {
		margin-top: 5px;
	}

	&:hover {
		color: #F6A30B;
	}

	&:hover {}

	&:active {}

	&:focus {}
}


